fastapi==0.95.1
httpx==0.24.0
numpy==1.24.3
psutil==5.9.5
pydantic==1.10.7
requests==2.30.0
shortuuid==1.0.11
tenacity==8.2.2
transformers==4.33.1
uvicorn==0.22.0
torch==2.0.1+cu118
cachetools==5.3.0
asyncache==0.3.1
graphyte==1.7.1
accelerate==0.22.0
